# Java
*.class
*.jar
*.war
*.ear
*.db
*.hprof

# Maven
*.log
target/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
bin/

# NetBeans
nbproject/private/
build/
dist/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*